 /* div{

    height: 50px; 
    min-height: 20px;
    max-width: 500px;
    border: 2px solid black;
}  */

 /* div{

    width: 250px;
    height: 250px;
    overflow: hidden;
    overflow: scroll    ;
    border: 2px solid black;
} */

 /* div{

    padding: 20px;
    border: 2px solid black;
} */

 /* .div1{
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
}

.div2{

    padding: 20px;
    margin: 20px;
    border: 2px solid black;
} */


 /* .box_2 {

     padding: 0px 30px;
     border: 5px double red;
     border: 5px dotted red;
     border: 5px solid red;
 }

 p.one {
    border-width: 2px;
    border-style: dotted;
    border-color: red;
 }

 p.two {
     border-width: thick;
    border-style: solid;
    border-color: blue;
 }

 p.three {
    border-width: 1px 4px 12px 4px;
    border-width: 1px 4px 12px;
    border-style: solid;
    border-color: orange;
 } */


/* .box_3{
    padding: 0px 20px;
    border: 5px double red;
} */

/* .box_3{
    padding: 2px;
    border: 2px solid red;
}


.child_box{

    padding: 0px 10px;
    border: 2px solid black;
}    */

/* .box_4{
    padding: 2px;
    border: 2px solid red;
    margin: 20px;
    margin-bottom: 20px;
    margin: 0px 0px 20px 0px;
}

.box_5{
    padding: 2px;
    border: 2px solid red;
} */


